html,
body {
    height: 100% !important;
    width: 100% !important;
    margin: 0px;
    padding: 0px;
    background: #d5d5d5;
}

h1 {
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}

h3,
h5,
p {
    font-family: 'Roboto', sans-serif;
}

.container-fluid {
    margin: 0px;
    padding: 0px;
}

.section {
    padding: 1.5rem;
    box-shadow: 0 1px 2px #aaa;
    background: white;
    margin: 0 1rem 1rem;
    border-radius: 3px;
    visibility: hidden;
}

.slide-in {
    animation-name: slide-in;
    animation-duration: 1.5s;
    animation-play-state: running;
    visibility: visible;
}

@keyframes slide-in {
    from {
        transform: translate3d(-100%, 0, 0);
    }
    to {
        transform: none;
    }
}

.landing {
    background-image: url(../img/landing.jpg);
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing h1 {
    color: white;
}

.navbar {
    /* deal with navbar stuff later */
    visibility: hidden;
}
