html,
body {
    height: 100% !important;
    width: 100% !important;
    margin: 0px;
    padding: 0px;
    background: #d5d5d5;
}

@keyframes example {
    /*
    visibility: visible;
    animation-name: slideRight;
    -webkit-animation-name: slideRight;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out; 
*/
}

.container-fluid {
    height: 400% !important;
    width: 100% !important;
    margin: 0px;
    padding: 0px;
}

.section {
    height: 25%;
    padding: 1.5rem;
    box-shadow: 0 1px 2px #aaa;
    background: white;
    margin: 0 1rem 1rem;
    border-radius: 3px;
    animation-name: example;
    animation-duration: 4s;
}

.landing {
    background-image: url(../img/landing.jpg);
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
h3 {
    color: white;
}
